# Build results
bin/
obj/

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache
.vs/

# Logs
*.log

# NuGet packages
*.nupkg
packages/

# MAUI generated APK / IPA packages
Platforms/Android/**/*.apk
Platforms/Android/**/*.aab
Platforms/iOS/**/*.ipa

# Node modules (if used)
node_modules/

# Publish output
/wwwroot/dist
!/wwwroot/images/

# Cache
*.cache
*.tmp