@page "/Profile"
<h3>Profile</h3>

<img src="image/Student.jpg" alt="student image" />
<h3>@studentName</h3>
<p>@courseName</p>
<p>@batchYear</p>


@code {
	String photopath = "image/Student.jpg";
	String studentName = "Khushi ";
	String courseName = ".NET MAUI Hybrid Training";
	String batchYear = "2025";

}